* {
  box-sizing: border-box;
}

/*Estilo principal*/
body {
  /*Fuentes y colores*/
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  color: black;
  background-color: white;
  /*Centramos contenido*/
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

::selection {
  background: yellow;
}

/*Navegación y perfil*/
body > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Borde inferior menú*/
  border-bottom: 5px solid black;
  padding-bottom: 20px;
  margin-bottom: 10px;
  user-select: none;
}

div.profile {
  text-align: center;
  margin-bottom: 15px;
}

div.profile img {
  border-radius: 25%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px solid lightgray;
}

div.profile h1 {
  margin: 5px 0 0 0;
  font-style: italic;
  font-size: larger;
}

/*Menú de navegación horizontal*/
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
}

nav a:hover,
nav a[aria-current="page"] {
  text-decoration: underline;
}

/*Contenido main: secciones y articulos*/
main section {
  margin-bottom: 40px;
}

main > section > h2 {
  text-align: end;
  margin-top: 10px;
}

main > section > p {
  font-style: italic;
  text-align: end;
  margin-top: 0;
}

section article {
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 1em;
  border: 1px dashed black;
  border-radius: 1%;
}

article h3 {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 10px;
}

article h3 a:hover {
  text-decoration: none;
  color: darkgreen;
}

article p {
  opacity: 80%;
}

article span.article-footer {
  font-size: smaller;
  text-align: end;
  display: block;
}

/*Pie de página*/
footer {
  text-align: center;
  font-size: small;
  color: grey;
  border-top: 1px dashed #ddd;
  padding-top: 10px;
  margin-top: 10px;
}

footer a {
  text-decoration: none;
  color: darkblue;
}

footer a:visited {
  color: darkblue;
}

/*Tablas*/
table.bookmark-table {
  width: 100%;
  border-collapse: collapse; /* Quita el doble borde por defecto de HTML */
  margin-bottom: 40px;
  font-size: 0.95rem;
}

table.bookmark-table th {
  border-bottom: 1px dashed;
  text-align: center;
  vertical-align: top;
}

table.bookmark-table td:first-child {
  width: 30%;
}

table td {
  padding: 5px 10px;
}
